h1,h2,h3,p, .navbar, .container{
    font-family: 'Red Rose', cursive;
    //background-color: rgba(220, 67, 34);
}
.container{
    padding-top: 2rem;
}
.footer {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: rgba(0,0,0,0.4);
          color: white;
          text-align: center;
        }