{% extends 'base.html' %}
    {% block title %}
        Password-reset-complete
    {% endblock %}
    {% block head %}
        <style>
            .card-header{
                background-color: rgba(139, 255, 0, 0.1);
                border-bottom:1px solid black;
            }
            .custom-body{
                background-color: rgba(0, 0, 0, 0.1);
            }
            .card-body{
                background-color: rgba(  243, 243, 243, 0.5);
            }
            .card{
                border: 2px solid black;
            }
            hr{
                border-bottom: 1px solid black;
            }
        </style>
    {% endblock %}
    {% block content %}
        <div class="alert alert-success" role="alert">Your password has been set.</div>
        <a href="{%url 'login' %}">Login Here</a>
    {% endblock %}