{% extends "base.html" %}
{% load crispy_forms_tags %}
    {% block title %}
        Register
    {% endblock %}
    {% block head %}
        <style>
            .card-header{
                background-color: rgba(139, 255, 0, 0.1);
                border-bottom:1px solid black;
            }
            .custom-body{
                background-color: rgba(0, 0, 0, 0.1);
            }
            .card-body{
                background-color: rgba(  243, 243, 243, 0.5);
            }
            .card{
                border: 2px solid black;
            }
            hr{
                border-bottom: 1px solid black;
            }
        </style>
    {% endblock %}
{% block login %}
    <div class="alert alert-info" role="alert">
        Please provide a valid email, as it is important for resetting your password in-case you forgotten.
    </div>
    <div class="jumbotron">
        <h2><center>User Registration Form</center></h2>
        <hr>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <hr>
        <p class="text-muted">Already have an account? <a style="color:violet" href="{%url 'login'%}">login</a></p>
    </div>
{% endblock %}
